#yellow {
  background-color: yellow !important;
  border: 1px solid green !important;
}

#red {
  background-color: red !important;
  border: 1px solid black !important;
}

#green {
  background-color: green !important;
  border: 1px solid yellow !important;
}

